
html{
 margin : 0;
 padding: 0;
}
body{
 margin : 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
}

                  /* NAVIGATGION */
.logo-container{
  order: 1;
  width: 30%
}

#logo {
  padding: 5px;
  height: 49px;
  width: 184px;
}
                    /*fil*/
.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #d6d6d6;
}
                     /*menu*/
.nav-element {
  display: flex;
  text-align: center;
  font-size: 1em;
  margin:0;
  order : 2;
  padding: 22px 60px;
}

a{
  color: black;
  text-decoration:none;
  position:relative;
}
a:after{
  content:'';
  width:2%;
  height:2px;
  bottom:0;
  left:0;
  -webkit-transition: all 3s;
  -o-transition: all 0.5s;
  transition:all 0.5s;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition:all 0.5s;
}
a:hover:after {
  background-color: #6295c4;
  width:60%;
  margin-left:20%;
  -moz-box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -o-box-shadow: 0px 0px 10px black;
  box-shadow:0px 0px 10px black;
}

                          /* CONTENT */
/*PAGE 1 */
.page-1{
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6d6d6;
}

.page-1 .title{
  float : left;
  text-align: center;
  font-size: 63px;
  padding-left : 80px;
  padding-top: 40px;
  width: 533px;
}
.page-1 .title span{
  color: #3F3F39;
  animation: titleAnimation 1.5s ,0.5 s;
  text-align: left;
}

.page-1-right{
  order: 2;
  width:60%;
}

.page1-right-img-wrapper{
  order: 1;
  display: table-column;
  overflow: hidden;
  width: 50%;
  float:right;
  padding-bottom: 50px;
  padding-left: 150px;
}
.page1-img-2{
  height: 400px;
}

.subtitle ul{
 padding-left: 50px;
 width: 500px;;
 list-style: none;
 display: flex;
 color: #3F3F39;
 float:left;
 position: relative;
 animation: titleAnimation 4s 1;
 text-align: left;

}



.page-1 .subtitle li{
  padding: 22px 60px;
}


/*PAGE 2 */
.page-2{
  height: 900px;
  background-image:url(../images/back_ground_1.jpg);
}
        /* title*/
.page-2 .header .title span{
 color:#FFFF;
}
.title{
  margin: 0;
}

.page2-img-1{
  float: right;
  padding-top:100px;
  width: 700px;
  height:462px;
}
.page-2-img-2{
  float: left;
  width:100px;
  height: 500px;
  margin-left: 150px;;
  margin-top: 100px;
}
.page-2-img-3{
  float: left;
  width:200px;
  height: 500px;
  margin-left:300px;;
  margin-top: 220px;
}
.prix {
  position: absolute;
  color:#FFF;
  margin-top: 600px;
  font-size: 40px;
  margin-left: 1000px;
}
.prix1{
  position: absolute;
  color:#FFF;
  margin-top: 600px;
  font-size: 40px;
  margin-left: 1150px;
}
.prix2{
  position: absolute;
  color:#FFF;
  margin-top: 670px;
  font-size: 40px;
  margin-left: 1300px;
}
.p0{
  position: absolute;
  color:#FFF;
  margin-top: 700px;
  font-size: 20px;
  margin-left: 100px;
}
.p2{
  position: absolute;
  color:#FFF;
  margin-top: 650px;
  font-size: 20px;
  margin-left: 100px;
}

/** PAGE 3 */

.page-3{
  height:700px;
  margin: 0 ;
  background-color: #f2f2f2;
  margin-left: 0px;
  padding-left: 0;
}
.page-3 .header{
  margin: 0;
  padding: 0;
}

.page-2 .header,
.page-3 .header,
.page-4 .header{
  text-align: center;
}
.titleetui{
  margin-top:20px;
  font-size:80px;
  margin: 0;
}
.content-left3{
  float: left;
}

.etuiprix{
  font-size:40px;
  margin-left:900px;
  margin-top: 0px;
}
.etui{
  padding: 40px;
  margin-left:20px;
}
/** footer**/
footer{
  margin: 0;
	padding: 128px 0;
	background: #535353;
}

footer .copyrights{
	float: left;
  margin-left: 30px;
	margin-bottom: 10px;
}

footer .copyrights .oral-b{
	color: #c5c5c5;
  font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

footer .contact_details{
	max-width: 430px;
	float: right;
}

footer .social{
	width: 130px;
	display: inline-block;
}

footer .social ul{
	margin: 0;
}

footer .social ul li{
	margin-bottom: 7px;
}

footer .social ul li a,
footer .contact{
	display: inline-block;
	color: #fff;
  font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;
}

footer .contact{
	width: 215px;
	margin-left: 80px;
	vertical-align: top;
}

footer .contact .details{
	margin-bottom: 30px;
}

footer p{
	margin: 0;
	padding: 0;
}


                          /*ANIMATIONS */
@keyframes titleAnimation {
  0% {
      color: #f2f2f2;
  }
  30% {
    color: #f2f2f2;
    letter-spacing: 8px;
  }

}
